/**
 * Global helpers
 *
 * @since 1.0.0
 */

[data-apb-icon-spin="true"] {
	animation: apb-icon-spin 2s linear infinite;
}

@keyframes apb-icon-spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(1turn);
	}
}
