/**
 * AJAX posts block styling
 *
 * @since 1.0.0
 */
.wp-block-ajax-posts-block-posts {
	position: relative; // for loader
	box-shadow: inset 0 0 0 2px lightblue;
}

.apb-posts-block-wrap {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 200px;

	> * { // layer all elements above height sensor
		position: relative;
	}
}

.apb-posts-list,
.apb-post {
	margin: 0;
	padding: 0;
	list-style: none;
}

.apb-prev-next {
	justify-content: center;
}

.apb-prev-next-button {
	font-size: var(--apb-font-size-regular);

	[data-apb-icon]:first-child {
		margin-right: var(--apb-bsu-half);
	}

	[data-apb-icon]:last-child {
		margin-left: var(--apb-bsu-half);
	}

	&[disabled] {
		opacity: 0.333;
		cursor: default;
	}
}

/* stylelint-disable selector-class-pattern */
.wp-block-button .apb-prev-next-button.wp-block-button__link {
	padding: var(--apb-bsu-half) var(--apb-bsu);

	&[disabled]:hover,
	&[disabled]:focus {
		text-decoration: none;
	}
}
/* stylelint-enable selector-class-pattern */

.apb-height-sensor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
